<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290839833261-k8q3k261ifqj2vhcbrta6iggnunh2ltm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290839833261-k8q3k261ifqj2vhcbrta6iggnunh2ltm</string>
	<key>API_KEY</key>
	<string>AIzaSyDWQRRF9Be-w74Zhyc63OoJsT9VMXRdZUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>290839833261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.formApp</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-exer8-mprosello</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-exer8-mprosello.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290839833261:ios:974dc14fa8f49c60153424</string>
</dict>
</plist>